.constructorAndButton {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: fit-content;
}

.burgerConstructor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 592px;
  align-items: center;
  height: fit-content;
}

.burgerConstructor__main {
  max-height: 464px;
  overflow-y: scroll;
}

.burgerConstructor__main::-webkit-scrollbar {
  width: 8px;
}

.burgerConstructor__main::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.burgerConstructor__main::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.isDrop {
  outline: #9390eed4 solid 1px;
}
