.rightPart {
  margin-left: 60px;
  width: 100%;
}
.ordersBlock {
  max-height: 78vh;
  overflow-y: auto;
}

.ordersBlock::-webkit-scrollbar {
  width: 8px;
}

.ordersBlock::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.ordersBlock::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
