.innerModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 620px;
}

.imageModal {
    width: 450px;
    max-width: 500px;
    margin-top: 20px;
}

.PFC {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 38px;
}
