.finalBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
}

.totalPrice {
  margin-right: 42px;
}

.digits {
  margin-right: 10px;
}

.isLoading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: .6;
}

.loadText {
  position: absolute;
}
